﻿@model IEnumerable<E_insurance_prestige.Entity.ERegisteration>

@{
    ViewBag.Title = "All_Transactions";
}



<div class="container-fluid">

    <div class="grid">
        <div class="row pt-11">
            <div class="cell-md-2 pt-10">
                @{ Html.RenderPartial("_AdminSidenav");}



            </div>
            <div class="cell-md-10">

                <div class="row my-6">
                    <div class="cell-md-12">
                        <div class="card rounded">
                            <div class="card-header">
                                All Transactions
                            </div>

                            <div class="card-content p-2">
                                <div class="table-container">
                                    <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" class="table striped row-hover">
                                        <thead>
                                            <tr>
                                                <th>Certificate No</th>
                                                <th>Policy No</th>
                                                <th>Insured Name</th>
                                                <th>Vehicle Model</th>
                                                <th>Vehicle Reg. No</th>
                                                <th>Usage</th>
                                                <th>Status</th>
                                                <th>Expiry Date</th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {

                                                <tr>
                                                    <td> <a href="/Home/PolicyDetails/?certno=@item.Certificate_no">@Html.DisplayFor(modelItem => item.Certificate_no)</a> </td>

                                                    <td> <span id="">@Html.DisplayFor(modelItem => item.PolicyNo)</span> </td>

                                                    <td> <span id="">@Html.DisplayFor(modelItem => item.Insured_name)</span> </td>
                                                    <td> <span id="">@Html.DisplayFor(modelItem => item.Vehicle_model).ToString().ToUpper()</span> </td>
                                                    <td> <span id="">@Html.DisplayFor(modelItem => item.Registeration_number)</span> </td>
                                                    <td> <span id="">@Html.DisplayFor(modelItem => item.Usage).ToString().ToUpper()</span> </td>
                                                    <td><span id="">@Html.DisplayFor(modelItem => item.field02).ToString().ToUpper()</span></td>
                                                    <td> <span id="">@item.Expiry_date.Value.ToString("dd MMM yyyy")</span> </td>
                                                    <td> <a href="/Admin/Transaction_Edit/?certno=@item.Certificate_no" class="button showloading primary small rounded" id=""><span class="fas fa-recycle"></span> View</a> |  <a href="/Admin/NIID_Upload/?certno=@item.Certificate_no" class="button showloading primary small rounded" id=""><span class="fas fa-recycle"></span> Upload NIID</a> |  <a href="/Admin/Push_PBS/?certno=@item.Certificate_no" class="button showloading primary small rounded" id=""><span class="fas fa-recycle"></span> Push to PBS</a> |  <a href="/Admin/PrintCertificate/?certno=@item.Certificate_no" class="button showloading primary small rounded" id=""><span class="fas fa-recycle"></span> Print</a></td>
                                                    @*<td> <a href="" class="button primary rounded" id=""><span class="fas fa-eye"></span> View</a> </td>*@
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>





                    </div>

                </div>

                <div>


                </div>

            </div>


        </div>

    </div>

</div>