﻿@model E_insurance_prestige.Viewmodels.Admin.Allocate_cardsVM

@{
    ViewBag.Title = "Allocate Cards";
}

<div class="container-fluid">

    <div class="grid">
        <div class="row pt-15">
            <div class="cell-md-2 pt-10">
                @{ Html.RenderPartial("_AdminSidenav");}



            </div>
            <div class="cell-md-10">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "myform" }))
                {
                  

                <div class="row">
                    @{Html.RenderPartial("_messagepanelPartial");}
                    <div class="cell-sm-5">
                        @Html.LabelFor(model => model.SerialNumbers, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.SerialNumbers, new { @class = "form-control rounded", @placeholder = "Insert Card serial numbers seperated by commas (,)" })
                        @Html.ValidationMessageFor(model => model.SerialNumbers, "", new { @class = "fg-red" })
                    </div>
                    <div class="cell-sm-3">
                        <span class="">Branches</span>
                        @Html.DropDownListFor(model => model.Branch, ViewBag.branch as SelectList, "- select branches -", new { @class = "form-control rounded" })
                        @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "fg-red" })
                    </div>
                </div>
                    <div class="row">
                        <div class="cell-sm-4">
                            <input type="submit" value="Submit" class="button primary rounded" />
                        </div>
                    </div>
                        }
                    <div class="row my-6">
                        <div class="cell-md-12">
                            <div class="card rounded">
                                <div class="card-header">
                                    All Scratchcards
                                </div>

                                <div class="card-content p-2">
                                    <div class="table-container">
                                        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" class="table striped row-hover">
                                            <thead>
                                                <tr>
                                                    <th>#Card ID</th>
                                                    <th>Serial No</th>
                                                    <th>Batch Number</th>
                                                    <th>PIN</th>
                                                    <th>Status</th>
                                                    <th>Used By</th>
                                                    <th>Date Used</th>
                                                    <th>Branch</th>
                                                    <th>Marketer</th>
                                                    <th></th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.cards)
                                                {

                                                    <tr>
                                                        <td> <a href="#">@Html.DisplayFor(modelItem => item.serial)</a> </td>

                                                        <td> <span id="">@Html.DisplayFor(modelItem => item.Batch)</span> </td>

                                                        <td> <span id="">@Html.DisplayFor(modelItem => item.Pin)</span> </td>
                                                        <td> <span id="">@Html.DisplayFor(modelItem => item.Epin).ToString().ToUpper()</span> </td>
                                                        <td> <span id="">@Html.DisplayFor(modelItem => item.Status)</span> </td>
                                                        <td> <span id="">@Html.DisplayFor(modelItem => item.Used_by).ToString().ToUpper()</span> </td>
                                                        <td><span id="">@Html.DisplayFor(modelItem => item.Date_used).ToString()</span></td>
                                                        <td> <span id="">@Html.DisplayFor(modelItem => item.Branches).ToString().ToUpper()</span> </td>
                                                        <td> <span id="">@Html.DisplayFor(modelItem => item.Head_marketer).ToString().ToUpper()</span> </td>
                                                        <td> <a href="/Admin/Enable_Disable_Cards/?type=enable&certno=@item.serial" class="button primary small rounded" id=""><span class="fas fa-recycle"></span> Enable Card</a> |  <a href="/Admin/Enable_Disable_Cards/?type=disable&certno=@item.serial" class="button primary small rounded" id=""><span class="fas fa-recycle"></span> Disable Card</a> </td>
                                                        @*<td> <a href="" class="button primary rounded" id=""><span class="fas fa-eye"></span> View</a> </td>*@
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot></tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>





                        </div>

                    </div>

                    <div>


                    </div>

                </div>


        </div>

    </div>

</div>