﻿@model IEnumerable<E_insurance_prestige.Entity.Branch>

@{
    ViewBag.Title = "Branches";
}


<div class="container-fluid">

  
    <div class="grid">
        <div class="row pt-11">
            <div class="cell-md-2 pt-10">
                @{ Html.RenderPartial("_AdminSidenav");}



            </div>
            <div class="cell-md-10">

                <div class="row my-6">
                    <div class="cell-md-12">
                        <div class="card rounded">
                            <div class="card-header">
                                All Branches
                            </div>

                            <div class="card-content p-2">
                                <div class="table-container">
                                    <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" class="table striped row-hover">
                                        <thead>
                                            <tr>
                                                <th>#Branch ID</th>
                                                <th>Branch</th>
                                                <th>Manager</th>
                                                <th>Address</th>
                                                <th>Email</th>
                                                <th>Submitted On</th>
                                             
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {

                                                <tr>
                                                    <td> <a href="/Home/PolicyDetails/?certno=@item.BranchID">@Html.DisplayFor(modelItem => item.BranchID)</a> </td>

                                                    <td> <span id="">@Html.DisplayFor(modelItem => item.Description)</span> </td>

                                                    <td> <span id="">@Html.DisplayFor(modelItem => item.Manager)</span> </td>
                                                    <td> <span id="">@Html.DisplayFor(modelItem => item.Address).ToString().ToUpper()</span> </td>
                                                    <td> <span id="">@Html.DisplayFor(modelItem => item.Email)</span> </td>
                                                    <td> <span id="">@Html.DisplayFor(modelItem => item.SubmittedBy).ToString().ToUpper()</span> </td>
                                                   
                                                    <td> <a href="/Admin/Branches_Edit/?id=@item.SN" class="button primary small rounded" id=""><span class="fas fa-recycle"></span> Edit</a> |  <a href="/Admin/Branches_Delete/?id=@item.SN" class="button primary small rounded" id=""><span class="fas fa-recycle"></span> Delete</a> </td>
                                                    @*<td> <a href="" class="button primary rounded" id=""><span class="fas fa-eye"></span> View</a> </td>*@
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>





                    </div>

                </div>

                <div>


                </div>

            </div>


        </div>

    </div>

</div>
