﻿
@{
    ViewBag.Title = "Dashboard";
}


<div class="container-fluid">
 

    <div class="grid">
        <div class="row pt-11">
            <div class="cell-md-2 pt-10">
                @{ Html.RenderPartial("_AdminSidenav");}



            </div>
            <div class="cell-md-10">
              
                <div class="my-6">
                    <div class="row">
                        <div class="cell-md-3">
                            <div class="bg-blue rounded py-3 fg-white" data-role="panel">
                                <h5 class="text-left text-leader">Total Certificates</h5>
                                <h2 class="text-right text-bold">@ViewBag.TotalPolicycount</h2>
                            </div>
                        </div>
                        <div class="cell-md-3">
                            <div class="bg-orange rounded py-3 fg-white" data-role="panel">
                                <h5 class="text-left text-leader">Certificate due for renewal</h5>
                                <h2 class="text-right text-bold">@ViewBag.Totaldueforrenewal</h2>
                            </div>
                        </div>
                        <div class="cell-md-3">
                            <div class="bg-darkCobalt rounded py-3 fg-white" data-role="panel">
                                <h5 class="text-left text-leader">Total Sum Insured</h5>
                                <h2 class="text-right text-bold">NGN @ViewBag.TotalSumInsured</h2>
                            </div>
                        </div>
                        <div class="cell-md-3">
                            <div class="bg-red rounded py-3 fg-white" data-role="panel">
                                <h5 class="text-left text-leader">Insurance class</h5>
                                <h2 class="text-right text-bold">Third Party Only</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div>


                </div>

            </div>


        </div>

    </div>

</div>
