﻿@using E_insurance_prestige.Extensions
<ul class="sidenav-simple sidenav-simple-expand-fs h-auto">
    <li class="@Url.MakeActiveaction("Dashboard")">
        <a class="showloading" href="/Admin/Dashboard">
            <span class="fas fa-dashboard icon"></span>
            <span class="title">Dashboard</span>
        </a>
    </li>
    <li class="@Url.MakeActiveaction("All_Transactions")">
        <a class="showloading" href="/Admin/All_Transactions">
            <span class="fas fa-list-alt icon"></span>
            <span class="title">All Transactions</span>
        </a>
    </li>
    <li class="@Url.MakeActiveaction("Scratchcards")">
        <a class="showloading" href="/Admin/Scratchcards">
            <span class="fas fa-credit-card icon"></span>
            <span class="title">Scratchcards</span>
        </a>
    </li>

    <li class="@Url.MakeActiveaction("Branches")">
        <a class="showloading" href="/Admin/Branches">
            <span class="fas fa-building icon"></span>
            <span class="title">Setup Branches</span>
        </a>
    </li>
    <li class="@Url.MakeActiveaction("Allocate_Cards")">
        <a class="showloading" href="/Admin/Allocate_Cards">
            <span class="fas fa-building icon"></span>
            <span class="title">Allocate cards to branches</span>
        </a>
    </li>
    <li class="@Url.MakeActiveaction("Marketers")">
        <a class="showloading" href="/Admin/Marketers">
            <span class="fas fa-user icon"></span>
            <span class="title">Setup Marketers</span>
        </a>
    </li>
    <li class="@Url.MakeActiveaction("Users")">
        <a class="showloading" href="/Admin/Users">
            <span class="fas fa-user-friends icon"></span>
            <span class="title">Manage Users</span>
        </a>
    </li>

    <li class="@Url.MakeActiveaction("Logout")">
        <a class="showloading" href="/Account/Logout">
            <span class="fas fa-power-off icon"></span>
            <span class="title">Log Out</span>
        </a>
    </li>

</ul>

<br />
<br />