﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
    <!-- Required meta tags -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @Scripts.Render("~/bundles/modernizr")
 
</head>
<body style="background-color:#eee;">

    @{ Html.RenderPartial("_Navbar");}

    <div class="">
        @RenderBody()
        <section class="bg-darkCobalt">
            <footer class="footer-bg bg-darkCobalt fg-white">
                <div class="container">
                    <div class="row py-8">
                        <div class="cell-md-5">
                            @*<h2><img src="~/Images/nsia.png" style="height: 50px;" /> NSIA Micro insurance</h2>*@
                            <h2><img src="~/Images/PrestigeLogo1.jpg" style="height: 28px;" /> Prestige E-insurance.</h2>
                            <p>To build a reputable brand that remains ahead in providing timely service delivery and customized insurance products.</p>
                        </div>
                        <div class="cell-md-7">
                            <ul class="inline-list float-right">
                                <li class="fg-white"><a class="fg-white" href="#">Motor policy</a></li>
                                <li class="fg-white"><a class="fg-white" href="#">Renew motor policy</a></li>
                                <li class="fg-white"><a class="fg-white" href="#">Marine certificate</a></li>
                                <li class="fg-white"><a class="fg-white" href="#">Print certificate</a></li>
                            </ul>
                        </div>

                    </div>




                </div>
            </footer>
        </section>
        @{ Html.RenderPartial("_PrintCertificateModal", new E_insurance_prestige.Viewmodels.Home.PrintCertificateVM());}


    </div>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/metro")
    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
  


    @* for progress loading *@
    <script type="text/javascript">

        $("#myform").submit(function (event) {
            // Animate loader
            var isValid = $('#myform').valid();
            if (isValid) {
                // Animate loader
                //$("#progress").show();
                Metro.activity.open({
                    type: 'cycle'
                    //overlayColor: '#fff',
                    //overlayAlpha: 1
                });
            }
        });

    </script>
    <script>
        $(function () {

            $(".showloading").click(function () {
                Metro.activity.open({
                    type: 'cycle'
                    //overlayColor: '#fff',
                    //overlayAlpha: 1
                });
            });

        });
    </script>

    @* Toastr message *@
    <script type="text/javascript">
    $(document).ready(function () {
        @if (TempData["success"] != null)
    {

        @:toastr.success('@TempData["message"]');
     TempData.Clear();
    }

          else if (TempData["info"]!= null)
          {

        @:toastr.info('@TempData["message"]');
          TempData.Clear();
        }
        else if (TempData["error"]!= null)
          {

        @:toastr.error('@TempData["message"]');
          TempData.Clear();
        }
    });
    </script>
    @* mvc grid *@
    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
