﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (ViewBag.message != null)
            {
                string messagetype = ViewBag.messagetype;
                switch (messagetype)
                {
                    case "info":
<div class="alert2 text-small alert-dismissible rounded alert-info-alt" role="alert">
    <span class="closebtn" onclick="fadeout()">&times;</span>
    @ViewBag.message
</div>
            break;
        case "error":
            <div class="alert2 text-small alert-dismissible rounded alert-danger-alt" role="alert">
             
                <span class="closebtn" onclick="fadeout()">&times;</span>
                @ViewBag.message
            </div>
            break;
    }


}
<script>
    function fadeout() {
        $('.alert2').fadeOut();
    }
</script>