﻿@using E_insurance_prestige.Modules;
<div data-role="appbar" class="bg-darkCobalt shadow-2 fg-white" data-expand-point="lg">

    <a href="/" class="brand no-hover">
        <span class="text-bold"><img src="~/Images/PrestigeLogo1.jpg" style="height: 28px;" /> E-Insurance Portal</span>
    </a>



    <ul class="app-bar-menu ml-auto">

        @if (Session["currentuser"] != null)
        {
            //get user permissions
            var permssion = new validationhelper().GetUserPermission(Session["currentuser"].ToString());
            if (permssion == "USER")
            {
                <li><a href="/Home/Dashboard"><span class="fas fa-dashboard"></span> Dashboard</a></li>

                <li><a href="/Home/Policies"><span class="fas fa-sync-alt"></span> Renew Certificate</a></li>
                <li><a href="/Home/CreatePolicy"><i class="fas fa-pencil"></i> Create new Certificate</a></li>
                <li><a href="/Home/Policies"><i class="fas fa-eye"></i> My Policies</a></li>
                <li><span id="myBtn" class="small" href="#"><i class="fas fa-print"></i> Print Certificate</span></li>
                <li><a href="/Home/Profile"><i class="fas fa-wrench"></i> Profile Settings</a></li>
            }
            else if (permssion == "ADMIN")
            {
                <li><a href="/Admin/Dashboard"><span class="fas fa-dashboard"></span> Dashboard</a></li>

                <li><a href="/Admin/All_Transactions"><i class="fas fa-list-alt"></i>All Transactions</a></li>

                <li><a href="/Admin/MyProfile"><i class="fas fa-wrench"></i> Profile Settings</a></li>
            }
        }

        @if (Session["currentuser"] != null)
        {
            <li>
                @if (DateTime.Now.Hour < 12)
                {
                    <span class="dropdown-toggle" href="/thirdparty/signin"> <i class="fas fa-user-circle"></i>Good Morning, @Session["currentuser"]!</span>
                }
                else if (DateTime.Now.Hour < 17)
                { <span class="dropdown-toggle" href="/thirdparty/signin"> <i class="fas fa-user-circle"></i>Good Afternoon, @Session["currentuser"]!</span>}
            else
            { <span class="dropdown-toggle" href="/thirdparty/signin"> <i class="fas fa-user-circle"></i>Good Evening, @Session["currentuser"]!</span>}


                <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">


                    <li><a class="showloading" href="/Account/Logout"><i class="fas fa-power-off"></i> Log Out</a></li>
                </ul>
            </li>
        }
        else
        {
            <li><a class="showloading" href="/">Home</a></li>
            <li><a class="showloading" href="/Home/CreatePolicy"><i class="fas fa-certificate"></i> Create my Certificate</a></li>
            <li><span style="cursor:pointer;" class="text-secondary" id="myBtn" href="#"><i class="fas fa-print"></i> Print Certificate</span></li>
            <li><a class="showloading" id="" href="/Home/Login?returnurl=/Home/Policies"><i class="fas fa-sync-alt"></i> Renew Certificate</a></li>
            <li><a class="showloading" href="/Account/Login"><i class="fas fa-sign-in-alt"></i> Log In</a></li>
        }


    </ul>

</div>




