﻿@model E_insurance_prestige.Viewmodels.Home.PrintCertificateVM

@* create seperate form for posting *@
<div id="printcertmodal" class="modal">
    @using (Html.BeginForm("PrintCertificate", "Home", FormMethod.Post, new { @id = "myform" }))
    {

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h4>Enter Vehicle Registration Number</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="row">
                        <div class="cell-md-12">
                            <div class="cell-sm-6 offset-sm-3">
                                <p class="text-bold">Enter Your Vehicle Registration Number below.</p>
                                @Html.TextBoxFor(model => model.VehicleRegNo, new { @class = "form-control rounded", data_role = "input" })

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell-md-12">
                            <div class="cell-sm-6 offset-sm-3">
                                <input type="submit" class="button primary rounded" value="Print certificate" />

                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>

        </div>
    }
    </div>


<script>
    // Get the modal
    var modal = document.getElementById("printcertmodal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, bind preview and show modal

    btn.onclick = function () {
     
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>