﻿@model E_insurance_prestige.Viewmodels.Account.ResetPasswordVM

@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Reset Password</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
    <!-- Required meta tags -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .login-form {
            width: 400px;
            height: auto;
            top: 40%;
            margin-top: -160px;
        }
    </style>
</head>
<body style="background-color:rgb(244, 245, 247);" class="h-vh-100">

    <div data-role="appbar" class="bg-darkCobalt drop-shadow fg-white" data-expand-point="lg">

        <a href="/" class="brand no-hover">
            <span class="text-bold"><img src="~/Images/PrestigeLogo1.jpg" style="height: 28px;" /> E-Insurance Portal</span>
        </a>





    </div>

    <div class="login-form bg-white rounded p-6 mx-auto border bd-default win-shadow">

        <h1 class="fg-darkCobalt p-2 text-center"> Prestige E-insurance </h1>


        <p class="text-light text-center"> <i class="mif-vpn-lock"></i> Forgot Password</p>
        <hr class="thin mt-4 mb-4 bg-white">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "myform" }))
        {
            @Html.AntiForgeryToken()
            <div>
                @{Html.RenderPartial("_messagepanelPartial");}
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control rounded", @placeholder = "Enter New Password...", data_role = "input", data_prepend = "<span class='fas fa-key'></span>" })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger text-small" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control rounded", @placeholder = "Confirm Password...", data_role = "input", data_prepend = "<span class='fas fa-key'></span>" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger text-small" })
            </div>
            <div class="form-group text-center">
                <small><a class="fg-blue" href="/Account/Login">Back to Login</a></small>
            </div>
            <div class="form-group mt-10">
                <input type="submit" class="button primary rounded" value="Submit">
            </div>
        }


    </div>




    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/metro")
    @* for progress loading *@
    <script>

        $("#myform").submit(function (event) {
            // Animate loader
            var isValid = $('#myform').valid();
            if (isValid) {
                // Animate loader
                //$("#progress").show();
                Metro.activity.open({
                    type: 'cycle'
                    //overlayColor: '#fff',
                    //overlayAlpha: 1
                });
            }
        });

    </script>
</body>
</html>