﻿@model E_insurance_prestige.Viewmodels.Home.PaymentVM

@{
    ViewBag.Title = "Pay";
}
<div class="container">
    <br />
    <br />
    <br />
    @if (ViewBag.header != null)
    {
        <h2>@ViewBag.header</h2>
    }
    else
    {
        <h2>Make Payment with Scratchcard</h2>
    }


    <br />
    <div data-role="stepper" data-steps="3" data-step="2"></div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "myform" }))
    {
        @Html.AntiForgeryToken()

        <div class="row my-6">
            <div class="cell-md-12">
                @{Html.RenderPartial("_messagepanelPartial");}

                <table class="table striped hovered cell-hovered">
                    <thead>
                        <tr>
                            <th>Insurance class</th>
                            <th>Vehicle Type</th>
                            <th>Amount</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td> <span id="">@Session["Insurance_class"]</span> </td>

                            <td>
                                <span id="">@Session["Category"]</span>
                            </td>
                            <td>
                                <span id="">₦@Session["Amount"]</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div class="row offset-2">
                    <div class="cell-sm-3">
                        <span class='fas fa-credit-card'></span> <span class="text-secondary text-bold">Enter Scratch Car Pin</span>

                    </div>
                    <div class="cell-sm-6">
                        @Html.TextBoxFor(model => model.Pin, new { @class = "form-control rounded text-bold", @placeholder = "Enter Pin", data_role = "keypad", data_prepend = "<span class='fas fa-credit-card'></span>" })
                        @Html.ValidationMessageFor(model => model.Pin, "", new { @class = "fg-red" })
                    </div>


                </div>
                <div class="form-group">
                    <div class="col-sm-10 offset-6">
                        <input type="submit" value="Make Payment" class="button primary rounded" />
                    </div>
                </div>
            </div>
        </div>





    }

</div>
