﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>reporttest</title>
    @Html.DevExpress().GetStyleSheets(
 new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
 new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
 new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard }
)
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.Dashboard }
    )
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Report }
    )
</head>
<body>
    <div>

        @Html.DevExpress().WebDocumentViewer(settings => {
            settings.Name = "WebDocumentViewer";
        }).Bind(new E_insurance_prestige.Reports.XtraReport1()).GetHtml()

    </div>
</body>
</html>
