﻿@model E_insurance_prestige.Viewmodels.Home.CreatePolicyVM

@{
    ViewBag.Title = "CreatePolicy";
}


<div class="container">
    <br />
    <br />
    <br />
    <h2>CreatePolicy</h2>
    <br />
    <div data-role="stepper" data-steps="3" data-step="1"></div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "myform" }))
    {

        @Html.AntiForgeryToken()

        <div class="row my-6">
            <div class="cell-md-8">
                <div class="card rounded">
                    <div class="card-header">
                        Fill in Your Personal Information
                    </div>

                    <div class="card-content p-2">

                        @{Html.RenderPartial("_messagepanelPartial");}
                        @Html.HiddenFor(model => model.Certificate_no)
                        <div class="row">
                            <div class="cell-sm-6">
                                @Html.LabelFor(model => model.Username, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control rounded", @id = "Username", data_role = "input", data_prepend = "<span class='fas fa-user'></span>" })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "fg-red" })


                            </div>
                            <div class="cell-sm-3">
                                @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control rounded", data_role = "input", data_prepend = "<span class='fas fa-key'></span>" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-3">
                                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control rounded", data_role = "input", data_prepend = "<span class='fas fa-key'></span>" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "fg-red" })
                            </div>

                        </div>

                        <div class="row">
                            <div class="cell-sm-6">
                                @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control rounded", data_role = "input", data_prepend = "<span class='fas fa-user'></span>" })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                <span class="">Insured Name</span>
                                @Html.TextBoxFor(model => model.Insured_name, new { @class = "form-control rounded", data_role = "input", data_prepend = "<span class='fas fa-pen'></span>" })
                                @Html.ValidationMessageFor(model => model.Insured_name, "", new { @class = "fg-red" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell-sm-6">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control rounded", data_role = "input", data_prepend = "<span class='fas fa-envelope'></span>" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                @Html.LabelFor(model => model.Phone, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control rounded", data_role = "input", data_prepend = "<span class='fas fa-phone'></span>" })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "fg-red" })
                            </div>

                        </div>
                        <div class="row">
                            <div class="cell-sm-6">
                                @Html.LabelFor(model => model.Identification, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.Identification, ViewBag.Identification as SelectList, "Select Identification", new { @class = "form-control rounded", data_role = "select" })
                                @Html.ValidationMessageFor(model => model.Identification, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                <span class="">ID Number</span>
                                @Html.TextBoxFor(model => model.Id_number, new { @class = "form-control rounded", data_role = "input", data_prepend = "<span class='fas fa-user'></span>" })
                                @Html.ValidationMessageFor(model => model.Id_number, "", new { @class = "fg-red" })
                            </div>

                        </div>
                        <div class="row">
                            <div class="cell-sm-6">
                                @Html.LabelFor(model => model.Occupation, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Occupation, new { @class = "form-control rounded", data_role = "input", data_prepend = "<span class='fas fa-user'></span>" })
                                @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "fg-red" })
                            </div>

                            <div class="cell-sm-6">
                                @Html.LabelFor(model => model.location, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.location, ViewBag.states as SelectList, "Select Location", new { @class = "rounded", data_role = "select" })
                                @Html.ValidationMessageFor(model => model.location, "", new { @class = "fg-red" })
                            </div>
                        </div>
                        <div class="row">

                            <div class="cell-sm-6">
                                @Html.LabelFor(model => model.Address, new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control rounded" })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "fg-red" })
                            </div>
                        </div>



                    </div>
                </div>

                <div class="card rounded">
                    <div class="card-header">
                        Vehicle Information
                    </div>

                    <div class="card-content p-2">
                        <div class="row">
                            <div class="cell-sm-6">
                                <span class="">Insurance Class</span>
                                @Html.TextBoxFor(model => model.Insurance_class, new { @Value = "Third Party Only", @class = "form-control rounded", data_role = "input", disabled = "disabled", data_prepend = "<span class='fas fa-car-crash'></span>" })
                                @Html.ValidationMessageFor(model => model.Insurance_class, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                @Html.LabelFor(model => model.Usage, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.Usage, ViewBag.Usage as SelectList, "- select usage -", new { @class = "form-control rounded" })
                    
                                @Html.ValidationMessageFor(model => model.Usage, "", new { @class = "fg-red" })
                            </div>

                        </div>

                        <div class="row">
                            <div class="cell-sm-6">
                                <span class="">Vehicle Make</span>
                                @Html.DropDownListFor(model => model.Vehicle_make, ViewBag.vehiclemakes as SelectList, "- select make -", new { @class = "rounded", @id = "make", data_role = "select" })

                                @Html.ValidationMessageFor(model => model.Vehicle_make, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                <span class="">Vehicle Model</span>
                                @Html.DropDownListFor(model => model.Vehicle_model, new SelectList(" "), "- select model -", new { @class = "form-control rounded", @id = "brand" })
                                @Html.ValidationMessageFor(model => model.Vehicle_model, "", new { @class = "fg-red" })
                            </div>

                        </div>
                        <div class="row">
                            <div class="cell-sm-6">
                                <span class="">Vehicle Year</span>
                                @Html.DropDownListFor(model => model.Vehicle_year, ViewBag.Years as SelectList, new { @class = "form-control rounded", data_role = "select" })
                                @Html.ValidationMessageFor(model => model.Vehicle_year, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                <span class="">Vehicle Reg. Number</span>
                                @Html.TextBoxFor(model => model.Registeration_number, new { @class = "form-control rounded", data_role = "input", data_prepend = "<span class='fas fa-car'></span>" })
                                @Html.ValidationMessageFor(model => model.Registeration_number, "", new { @class = "fg-red" })
                            </div>

                        </div>

                        <div class="row">
                            <div class="cell-sm-6">
                                <span class="">Engine Number</span>
                                @Html.TextBoxFor(model => model.Engine_number, new { @class = "form-control rounded", data_role = "input", data_prepend = "<span class='fas fa-car'></span>" })
                                @Html.ValidationMessageFor(model => model.Engine_number, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                <span class="">Chasis Number</span>
                                @Html.TextBoxFor(model => model.Chasis_number, new { @class = "form-control rounded", data_role = "input", data_prepend = "<span class='fas fa-car'></span>" })
                                @Html.ValidationMessageFor(model => model.Chasis_number, "", new { @class = "fg-red" })
                            </div>

                        </div>

                        <div class="row">
                            <div class="cell-sm-6">
                                @Html.LabelFor(model => model.Colour, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Colour, new { @class = "form-control rounded", data_role = "input", data_prepend = "<span class='fas fa-paint-brush'></span>" })
                                @Html.ValidationMessageFor(model => model.Colour, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                @Html.LabelFor(model => model.Category, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.Category, ViewBag.category as SelectList, new { @class = "form-control rounded", data_role = "select" })
                                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "fg-red" })
                            </div>

                        </div>

                        <div class="row">
                            <div class="cell-sm-6">

                                @Html.HiddenFor(model => model.Amount, new { @class = "form-control rounded", @id = "amount" })
                                @Html.HiddenFor(model => model.categorytext, new { @class = "form-control rounded", @id = "selectedcategory" })
                            </div>


                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <span id="createpol" class="button primary rounded">Preview</span>
                    </div>


                    <!-- Preview Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close">&times;</span>
                                <h4>Preview Your Info</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="cell-md-12">
                                        <p class="text-leader fg-blue">Personal Information</p>
                                        <hr />
                                        <div class="row">
                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Username</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewusername" class="text-bold"></span>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Insured name</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewtitle" class="text-bold"></span> <span id="previewinsuredname" class="text-bold"></span>

                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Address</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewaddress" class="text-bold"></span>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">State</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewstate" class="text-bold"></span>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Phone number</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewphone" class="text-bold"></span>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Means of Identification</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewidentification" class="text-bold"></span>

                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Identification Number</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewidnumber" class="text-bold"></span>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Email</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewemail" class="text-bold"></span>

                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Occupation</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewoccupation" class="text-bold"></span>

                                            </div>
                                        </div>

                                        <p class="text-leader fg-blue">Vehicle Information</p>
                                        <hr />

                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Insurance Class</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewinsuranceclass" class="text-bold"></span>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Type of vehicle</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewvehicletype" class="text-bold"></span>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Amount</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewamount" class="text-bold"></span>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Make of Vehicle</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewvehiclemake" class="text-bold"></span>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Model of Vehicle</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewvehiclemodel" class="text-bold"></span>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Year of Vehicle</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewvehicleyear" class="text-bold"></span>

                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Vehicle Reg. No</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewregno" class="text-bold"></span>

                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Chasis No</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewchasis" class="text-bold"></span>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Engine No</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewengine" class="text-bold"></span>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Colour</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewcolour" class="text-bold"></span>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="cell-sm-4">
                                                <span class="text-secondary">Usage</span>
                                            </div>
                                            <div class="cell-sm-4">
                                                <span id="previewusage" class="text-bold"></span>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer py-3">
                                <input type="submit" value="Go to Payment" class="button primary rounded" />
                            </div>
                        </div>

                    </div>
                    <br />

                </div>

            </div>
            <div class="cell-md-4">
                <div class="card rounded">
                    <div class="card-header bg-orange">
                        <span><i class="fas fa-shield-alt"></i> Privacy Policy</span>
                    </div>

                    <div class="card-content p-2">
                        <p>
                            Prestige Assurance Motor Third Party Online is committed to protecting your privacy. Motor Third Party uses techniques to encrypt, safeguard, and secure your personal information. Our privacy policy explains the controls we have in place. Please fill out our registration form. Fields marked with an asterisk (*) are required. A valid email address is required for registration.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

@section scripts
{

    <script>
        //To get vehicle category selected text.
        $("#Category").on("change", function () {
            $("#selectedcategory").val($(this).find("option:selected").text());
        });


    </script>


    <script>
        $(function () {
           //remeber to disable model brand

            //Automaticllaay bind vehicle brand
            $('#make').on('change', function () {
                var url = '@Url.Content("~/")' + "Helpers/GetvehicleMakeBrand";
                var ddlsource = "#make";

                $.getJSON(url, { makeid: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("#brand").empty();
                    $.each(data, function (i, row) {
                        items += "<option value='" + row + "'>" + row + "</option>";
                    });
                    $("#brand").html(items);
                });
            });
        });
    </script>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("createpol");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, bind preview and show modal
        btn.onclick = function () {
            $('#previewinsuredname').html($('#Insured_name').val());
            $('#previewusername').html($('#Username').val());
            $('#previewaddress').html($('#Address').val());
            $('#previewphone').html($('#Phone').val());
            $('#previewstate').html($('#location').val());
            $('#previewidentification').html($('#Identification').val());
            $('#previewidnumber').html($('#Id_number').val());
            $('#previewemail').html($('#Email').val());
            $('#previewoccupation').html($('#Occupation').val());
            $('#previewtitle').html($('#Title').val());

            //vehicle info
            $('#previewinsuranceclass').html($('#Insurance_class').val());
            $('#previewvehicletype').html($('#selectedcategory').val());
            $('#previewamount').html($('#Category').val());
            $('#previewvehiclemake').html($('#make').val());
            $('#previewvehiclemodel').html($('#brand').val());
            $('#previewvehicleyear').html($('#Vehicle_year').val());
            $('#previewregno').html($('#Registeration_number').val());
            $('#previewchasis').html($('#Chasis_number').val());
            $('#previewengine').html($('#Engine_number').val());
            $('#previewcolour').html($('#Colour').val());
            $('#previewusage').html($('#Usage').val());
            $('#amount').html($('#Category').val());
            modal.style.display = "block";

        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script>


    </script>

}


