﻿@model IEnumerable<E_insurance_prestige.Entity.ERegisteration>
@{
    ViewBag.Title = "Dashboard";
}



<div class="container">
    <h2>Dashboard</h2>

    <div class="my-6">
        <div class="row">
            <div class="cell-md-3">
                <div class="bg-blue rounded py-3 fg-white" data-role="panel">
                    <h5 class="text-left text-leader">Total Certificates</h5>
                    <h2 class="text-right text-bold">@ViewBag.TotalPolicycount</h2>
                </div>
            </div>
            <div class="cell-md-3">
                <div class="bg-orange rounded py-3 fg-white" data-role="panel">
                    <h5 class="text-left text-leader">Certificate due for renewal</h5>
                    <h2 class="text-right text-bold">@ViewBag.Totaldueforrenewal</h2>
                </div>
            </div>
            <div class="cell-md-3">
                <div class="bg-darkCobalt rounded py-3 fg-white" data-role="panel">
                    <h5 class="text-left text-leader">Total Sum Insured</h5>
                    <h2 class="text-right text-bold">NGN @ViewBag.TotalSumInsured</h2>
                </div>
            </div>
            <div class="cell-md-3">
                <div class="bg-red rounded py-3 fg-white" data-role="panel">
                    <h5 class="text-left text-leader">Insurance class</h5>
                    <h2 class="text-right text-bold">Third Party Only</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-6">
        <div class="cell-md-12">
            <div class="card rounded">
                <div class="card-header">
                    My Policies
                </div>

                <div class="card-content p-2">
                    <div class="table-container">
                        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" class="table striped row-hover">
                            <thead>
                                <tr>
                                    <th>Certificate No</th>
                                    <th>Policy No</th>
                                   
                                    <th>Vehicle Model</th>
                                    <th>Vehicle Reg. No</th>
                                    <th>Usage</th>
                                    <th>Status</th>
                                    <th>Expiry Date</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                <tr>
                                    <td> <a href="/Home/PolicyDetails/?certno=@item.Certificate_no">@Html.DisplayFor(modelItem => item.Certificate_no)</a> </td>

                                    <td> <span id="">@Html.DisplayFor(modelItem => item.PolicyNo)</span> </td>


                                    <td> <span id="">@Html.DisplayFor(modelItem => item.Vehicle_model).ToString().ToUpper()</span> </td>
                                    <td> <span id="">@Html.DisplayFor(modelItem => item.Registeration_number)</span> </td>
                                    <td> <span id="">@Html.DisplayFor(modelItem => item.Usage).ToString().ToUpper()</span> </td>
                                    <td><span id="">@Html.DisplayFor(modelItem => item.field02).ToString().ToUpper()</span></td>
                                    <td> <span id="">@item.Expiry_date.Value.ToString("dd MMM yyyy")</span> </td>
                                    <td> <a href="/Home/PolicyDetails/?certno=@item.Certificate_no" class="button showloading primary rounded" id=""><span class="fas fa-recycle"></span> View/Renew</a> | <a href="" class="button showloading primary rounded" id=""><span class="fas fa-print"></span> Print</a></td>
                                    @*<td> <a href="" class="button primary rounded" id=""><span class="fas fa-eye"></span> View</a> </td>*@
                                </tr>
                                }
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>

       



        </div>

    </div>


   
            </div>
