﻿
@{
    ViewBag.Title = "Welcome - Prestige E-insurance";
}



<style>
    /*.jumbotron-codelines {
        color: rgba(255,255,255,0.6);
        background: url(/Images/home_slider_4.jpg);
        background-position: center 10%;
        background-size: cover;
    }*/

    .jumbotron-codelines {
        background: url(/Images/woman.jpg);
        background-position-x: 0%, 0%;
        background-position-y: 0%, 0%;
        background-position: center 10%;
        background-size: cover;
        color: rgba(255,255,255,0.6);
    }
</style>
<div class="section">
    <div class="jumbotron-codelines pb-20" id="hero-wrapper">
        <div class="container">
            <br />
            <div class="grid pb-20">
                <div class="row">
                    <div class="cell-md-6">
                        <p style="padding-top: 100px" class="text-leader">
                            <h2 class="fg-darkCobalt text-bold text-center">Create and manage your Motor policies. @*- <span id="type1"></span>*@</h2>
                        </p>
                        <p class="fg-orange text-leader2">
                            The Prestige scratchcard portal gives you a platform where you create, manage your policies.
                        </p>
                        <br />
                        <p class="fg-orange">Already own an account? <a href="/Account/Login" class="button success rounded"><i class="fas fa-lock"></i> Sign in</a></p>
                    </div>
                </div>
            </div>


            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>


    </div>
</div>



<section class="">
    <div class="container pt-13 text-center">
        <h2 class="text-center my-4">A better way to manage your policies all in one place.</h2>

        <br />
        <div class="row my-6">
            <div class="cell-md-4 hvr-bob">
                <div class="info-panel rounded no-overflow shadow-3">
                    <div class="info-panel-header-custom bg-darkBlue fg-white">
                        <img style="max-height:100%;max-width:100%" src="~/images/insure1.jpg" />
                    </div>
                    <div class="info-panel-content text-left-sm">
                        <h3 class="fg-darkCobalt">Create a Motor Policy</h3>
                        <span class="text-leader2">Do you want to get a certificate for Your vehicle? Click the button below to get started.</span>
                    </div>
                    <div class="info-panel-footer text-left-sm">
                        <a href="/Home/CreatePolicy" class="button info rounded">Get started</a>
                    </div>
                </div>
            </div>
            <div class="cell-md-4 hvr-bob">
                <div class="info-panel rounded no-overflow shadow-3">
                    <div class="info-panel-header-custom bg-darkBlue fg-white">
                        <img style="max-height:100%;max-width:100%" src="~/images/insure2.jpg" />
                    </div>
                    <div class="info-panel-content text-left-sm">
                        <h3 class="fg-darkCobalt">Make a renewal</h3>
                        <span class="text-leader2">Do you want to renew your existing policy? Click the button below to get started.</span>
                    </div>
                    <div class="info-panel-footer text-left-sm">
                        <a href="/Home/Certificates" class="button info rounded">Get started</a>
                    </div>
                </div>
            </div>
            <div class="cell-md-4 hvr-bob">
                <div class="info-panel rounded no-overflow shadow-3">
                    <div class="info-panel-header-custom bg-darkBlue fg-white">
                        <img style="max-height:100%;max-width:100%" src="~/images/printcert.jpg" />
                    </div>
                    <div class="info-panel-content text-left-sm">
                        <h3 class="fg-darkCobalt">Print Vehicle Certificate</h3>
                        <span class="text-leader2">Do you want to print the certificate of Your vehicle? Get started</span>
                    </div>
                    <div class="info-panel-footer text-left-sm">
                        <a href="/Home/PrintCertificate" class="button info rounded">Get started</a>
                    </div>
                </div>
            </div>


        </div>



        @* Put list of tranasactions here *@


    </div>
</section>


<section class=" bg-white text-center">
    <div class="container text-center">
        <h2 class="text-center pt-13">Select Your Vehicle.</h2>
        <h2></h2>
        <div class="row my-10">
            <div class="cell-md-3">
                <img class="hvr-glow" style="height:150px;" src="~/Images/car.png" />

                <div class="info-panel-footer text-center">
                    <p>Private car</p>
                    <br />
                    <a href="/Home/CreatePolicy?id=PC" class="button info rounded">Buy - <b>N5000</b></a>

                </div>
            </div>
            <div class="cell-md-3">
                <img class="hvr-glow" style="height:150px;" src="~/Images/okada.png" />

                <div class="info-panel-footer text-center">
                    <p>Motorcycle(Okada)</p>
                    <br />
                    <a href="/Home/CreatePolicy?id=MC" class="button info rounded">Buy - <b>N1500</b></a>
                </div>
            </div>
            <div class="cell-md-3">
                <img class="hvr-glow" style="height:150px;" src="~/Images/marua.png" />

                <div class="info-panel-footer text-center">
                    <p>Tricycle</p>
                    <br />
                    <a href="/Home/CreatePolicy?id=TC" class="button info rounded">Buy - <b>N2500</b></a>
                </div>
            </div>
            <div class="cell-md-3">
                <img class="hvr-glow" style="height:150px;" src="~/Images/bus.png" />

                <div class="info-panel-footer text-center">
                    <p>Commerical Vehicle</p>
                    <br />
                    <a href="/Home/CreatePolicy?id=CV" class="button info rounded">Buy - <b>N7500</b></a>
                </div>
            </div>

        </div>
    </div>
       

    </section>

<section class="text-center">
    <div class="container text-center pb-10">
        <h2 class="text-center pt-13">How to use scratchcard portal</h2>
        <h2></h2>
        <div class="row my-10">
            <div class="cell-md-4 bg-white">
                <div>
                    <h2 class="fg-orange">1</h2>
                </div>

                <div>
                    <h4>Register Your vehicle Details</h4>
                    <img class="rounded" src="~/Images/signup.jpg" style="height:150px;"  />
                    <p class="text-secondary">Signup, register your vehicle details and your personal information carefully.</p>
                </div>
            </div>
            <div class="cell-md-4 bg-white">
                <div>
                    <h2 class="fg-orange">2</h2>
                </div>

                <div>
                    <h4>Enter scratchcard Pin</h4>
                    <img class="rounded" src="~/Images/creditcard.jpg" style="height:150px;" />
                    <p class="text-secondary">Enter your scratchcard pin in the portal</p>
                </div>
            </div>
            <div class="cell-md-4 bg-white">
                <div>
                    <h2 class="fg-orange">3</h2>
                </div>

                <div>
                    <h4>Print your certificate</h4>
                    <img class="rounded" src="~/Images/document.jpg" style="height:150px;" />
                    <p class="text-secondary">Once the pin is entered correctly you will be redirected to your certificate for printing.</p>
                </div>
            </div>


        </div>
    </div>


</section>


@section scripts {
    <script>
        var type1 = new Typed('#type1', {
            strings: ['Motor Insurance', 'Marine Insurance', 'Report a claim', 'Made easy!'],
            typeSpeed: 60,
            backSpeed: 20,
            fadeOut: false,
            loop: true
        });

    </script>

}



