﻿@model IEnumerable<E_insurance_prestige.Entity.ERegisteration>

@{
    ViewBag.Title = "listest";
}

<h2>listest</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Certificate_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insured_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occupation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insurance_class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle_make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle_model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registeration_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Engine_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chasis_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Effective_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expiry_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Card_pin_used)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serial_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.field01)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.field02)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.field03)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.field04)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.field05)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Certificate_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insured_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occupation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insurance_class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle_make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle_model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registeration_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Engine_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chasis_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Effective_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expiry_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Card_pin_used)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serial_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.field01)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.field02)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.field03)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.field04)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.field05)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
