﻿@model E_insurance_prestige.Entity.ERegisteration

@{
    ViewBag.Title = "PolicyDetails";
}

<div class="container">
    <br />
    <br />
    <br />

    <h2>Policy - @ViewBag.policyno</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row my-6">
            <div class="cell-md-12">
                @{Html.RenderPartial("_messagepanelPartial");}

                <div class="card rounded">
                    <div class="card-header">
                        Policy Details
                    </div>

                    <div class="card-content p-2">
                        <div class="row">
                            <div class="cell-sm-7">
                                <span class="">Policy Number</span>
                                @Html.TextBoxFor(model => model.PolicyNo, new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-user'></span>" })
                                @Html.ValidationMessageFor(model => model.PolicyNo, "", new { @class = "fg-red" })
                            </div>

                        </div>

                        <div class="row">
                            <div class="cell-sm-6">
                                @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-user'></span>" })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                <span class="">Insured Name</span>
                                @Html.TextBoxFor(model => model.Insured_name, new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-pen'></span>" })
                                @Html.ValidationMessageFor(model => model.Insured_name, "", new { @class = "fg-red" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell-sm-6">
                                @Html.LabelFor(model => model.Insurance_class, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Insurance_class, new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-user'></span>" })
                                @Html.ValidationMessageFor(model => model.Insurance_class, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                <span class="">Usage</span>
                                @Html.TextBoxFor(model => model.Usage, new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-pen'></span>" })
                                @Html.ValidationMessageFor(model => model.Usage, "", new { @class = "fg-red" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell-sm-6">
                                <span class="">Vehicle Make</span>
                                @Html.TextBoxFor(model => model.Vehicle_make, new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-car'></span>" })
                                @Html.ValidationMessageFor(model => model.Vehicle_make, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                <span class="">Vehicle Model</span>
                                @Html.TextBoxFor(model => model.Usage, new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-car'></span>" })
                                @Html.ValidationMessageFor(model => model.Usage, "", new { @class = "fg-red" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell-sm-6">
                                <span class="">Vehicle Year</span>
                                @Html.TextBoxFor(model => model.Vehicle_year, new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-user'></span>" })
                                @Html.ValidationMessageFor(model => model.Vehicle_year, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                <span class="">Registration Number</span>
                                @Html.TextBoxFor(model => model.Registeration_number, new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-pen'></span>" })
                                @Html.ValidationMessageFor(model => model.Registeration_number, "", new { @class = "fg-red" })
                            </div>
                        </div>


                        <div class="row">
                            <div class="cell-sm-6">
                                <span class="">Engine Number</span>
                                @Html.TextBoxFor(model => model.Engine_number, new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-user'></span>" })
                                @Html.ValidationMessageFor(model => model.Engine_number, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                <span class="">Chasis Number</span>
                                @Html.TextBoxFor(model => model.Chasis_number, new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-pen'></span>" })
                                @Html.ValidationMessageFor(model => model.Chasis_number, "", new { @class = "fg-red" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell-sm-6">
                                <span class="">Colour</span>
                                @Html.TextBoxFor(model => model.Colour, new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-user'></span>" })
                                @Html.ValidationMessageFor(model => model.Colour, "", new { @class = "fg-red" })
                            </div>
                            <div class="cell-sm-6">
                                <span class="">Category</span>
                                @Html.TextBoxFor(model => model.Category, new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-pen'></span>" })
                                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "fg-red" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell-sm-6">
                                <span class="">Amount</span>
                                @Html.TextBoxFor(model => model.Amount, "{0:0.00}", new { @class = "form-control rounded", @disabled = "disabled", data_role = "input", data_prepend = "<span class='fas fa-user'></span>" })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "fg-red" })
                            </div>

                        </div>


                        <div class="row">
                            <div class="cell-sm-12">
                                <div class="text-center">
                                    @Html.ActionLink("Back to List", "Policies") |  <a href="/Home/PolicyRenewal/?certno=@Model.Certificate_no" class="button primary rounded" id=""><span class="fas fa-recycle"></span> Renew this policy</a>
                                </div>
                              
                            </div>
                       
                        </div>
                    </div>
                </div>





            </div>

        </div>

    }

</div>


